[core]
	editor = emacs -nw
	autocrlf = input
	excludesfile = ~/.gitignore-global
	autoSetupRemote = true

[user]
	name = Davide Manini
	email = davide@manini.cloud
[advice]
	addEmptyPathspec = false
[init]
	defaultBranch = master

[credential "https://git.overleaf.com"]
	helper = store
	username = git

[color "status"]
    branch = "bold magenta"
    localBranch = "bold magenta"
    remoteBranch = "bold blue"

[color "branch"]
    current = "bold magenta"
    remote = "bold blue"
